<!-- generate card html -->
<div class="card">
  <div class="card-header">
    <h4>Carrito {{ categoria | letras: 'portugues' }}</h4>
  </div>
  <div class="card-body">
    <div [ngClass]="tipo=='danger'?'danger':'info'">
      <h3 id="h3Bonito">Información</h3>
      <h4 class="seleccionada">Rueda seleccionada: {{seleccionada}}</h4>
      <h4>Evaluación: {{evaluacion}}</h4>
    </div>
    <div class="row">
      <div class="col-3 card me-2" *ngFor="let rueda of ruedas">
      <div class="card-body">
        <app-rueda [identificador]="rueda.identificador" [marca]="rueda.marca" [precio]="rueda.precio"
          (ruedaSeleccionada)="recibirSeleccionRueda($event)">
        </app-rueda>
      </div>
      </div>

    </div>
  </div>
</div>
