<div class="rueda">
  <div class="left">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMngQMAouABId2j6aFUR1utyH5FPWJAh25AF93XW-d_JlHBqm6kRyvT8cWxCtDxEEY7K0&usqp=CAU"
      alt="">
  </div>
  <div class="right">
    <h3>{{identificador}}</h3>
    <h4>Marca: {{marca}}</h4>
    <h4 class="precio">Precio: {{precio}}</h4>
    <span appResaltado>Este es no un hiperlink</span>
    <br>
    <a appResaltado>Este es un hiperlink</a>
    <br>
     <img imgFallback [src]="urlFoto">
     <br>
    <button class="btn btn-secondary" (click)="emitirSeleccion()">Seleccionar</button>
  </div>
</div>
