strong {
  font-size: 20px;
}

.rueda {
  padding: 10px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: auto auto;

  .left {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .right {
    .precio {
      color: rgb(15, 72, 34);
      font-style: italic
    }
  }
}

h4 {
  color: rgb(39, 39, 162);
}

h3 {
  color: rgb(249, 44, 12);
}
