.container {
  .clsIcono{
    margin-top:-3px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 20px;
  }
  &__body{
    margin-top: 20px;

    .card{
      max-width: 300px;
    }

    .avatar{
      img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }

    .card-footer{
      button{
        margin-right: 10px;
      }
    }
  }

  .paginacion{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
